<ion-header>
  <ion-navbar color="primary">
    <ion-title><b>     Product Scanner
</b></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="form-content" text-center>

  <div class="Loginpage">
    <div class="formContainer">
        <div class="logo">
          <img src="assets/icon/favicon.png" />
        </div>
        <br>
        <form [formGroup]="loginForm" >
          <ion-list class="app-form" no-margin>
            
            <!-- mobile block -->
            <ion-item no-lines>
              <ion-icon name="ios-person-outline" item-start></ion-icon>
              <ion-input [(ngModel)]="login.mobile" name="mobile" type="tel"  
                  placeholder="Mobile Number" 
                 formControlName="mobile">     
              </ion-input>
            </ion-item>
              <div *ngIf="loginForm.get('mobile').hasError('required') && (submitted == true || loginForm.get('mobile').touched)" class="danger" padding-bottom>
              Enter your mobile number
            </div>
             <div *ngIf="loginForm.get('mobile').hasError('pattern') && (submitted == true || loginForm.get('mobile').touched)" class="danger" padding-bottom>Not a valid mobile number
             </div>

           <!-- passwword block -->
            <ion-item no-lines>
              <ion-icon name="ios-lock-outline" item-start></ion-icon>
              <ion-input [(ngModel)]="login.password" placeholder="Password" 
                name="password" type="password" formControlName="password">
              </ion-input>
            </ion-item>
              <div *ngIf="loginForm.get('password').hasError('required') && (submitted == true || loginForm.get('password').touched)" class="danger" padding-bottom>Password is required
             </div>
          </ion-list>

          <button (click)="onLogin()" type="button"  color="primary" ion-button round block>Login</button>
          <button color="secondary" (click)="onSignup()" ion-button round block>Register</button>

          <p (click)="forgotPassword()" margin-top>Forgot Password ?</p>
      </form>
    </div>
  </div>
</ion-content>









<!-- my code -->

<!--  <ion-header>
  <ion-navbar>
    <ion-title>
     Product Scanner
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="header padding text-center">
                      <div class= "logo">
                        <img src="assets/icon/favicon.png" alt="QR scanner"/>
                      </div>
                    </div>


<form  #loginForm="ngForm" (ngSubmit)="login()">
    <div class="row responsive-md">
                <div class="col col-50 col-offset-25">

  <p>
    Enter Phone No. 
  </p>
                   <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="phone number" [(ngModel)]="phone" name="phone" id="phone">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="OTP" [(ngModel)]="otp" name="otp" id="otp">
                        </label>
                    </div>

  <h1>
    <button ion-button color="dark" full round (click)="login(phone,otp)">login</button>
  </h1>
</div>
</div>
</form>
</ion-content>
 -->




<!-- my code ends -->







<!-- 
 <ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="http://placehold.it/300x200"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <button ion-button class="register-btn" block clear (click)="createAccount()">Create New Account</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content> -->